.env
containers/pinepods/data/
containers/homeassistant/data/
containers/duplicati/config/
containers/ocular/data/
containers/wallos/db/
containers/wallos/logos/
containers/beaverhabits/data/
containers/vaultwarden/data/
containers/zabbix/data/
containers/calibre-web/config/
containers/calibre-web/books/
containers/speedtest-tracker/config/
containers/go2rtc/config/
containers/nextcloud/
containers/nextcloud-db/
containers/nextcloud-redis/
containers/immich/data/
containers/immich-db/